/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
    font-size: 100%;
    background:	rgba(10, 10, 10, 0.97);
    font-family: 'Open Sans', sans-serif;
}
p{
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Oleo Script', cursive;
    font-weight:100;
    margin:0;
}
ul,label{
    margin:0;
    padding:0;
}
body a:hover{
    text-decoration:none;
}
/*-- banner --*/
.header ul li a,.more a,.footer p a,input[type="submit"],.recent-comments-grid-right h4 a,.admin-right p a,.tags ul li a,.comments-list ul li a,.categories ul li a,.comments-list h3 a,.popular-right h5 a,.mail-grid-left-pos,.mail-grid-left,.team-grid1-sub,.footer-copy-grid ul li a,.about-grid-left1 ul li a,.about-grid ul li a{
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
}
.banner{
    background:url(../images/banner1.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:800px;
}
.banner1{
    background:url(../images/banner.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:500px;
}
.header{
    padding:5em 0 15em;
    text-align: center;
}
.slider [class*="ctrl"]{ color:#afadad;   box-shadow: 0px 2px 7px #ffffff;    border-radius: 31px;}
.slider [class*="ctrl"]:hover{   rgba(247, 230, 230, 0.54)}
.imageLink{
    width: 100%;
    height: 100%;
    display: block;
    }
.slText{
    background: rgba(255, 255, 255, 0.68);
    width: 400px; font-weight:bold;box-shadow: 9px 13px 13px #888888;
    height: 200px;
    text-align: center;
    border-radius: 25px;
    color: #000;
    font-size: 20px;
    padding: 10px;
    
    }
.fp-completely{background-color: rgb(21, 19, 19) !important;}
.header-left ul li{
    display:inline-block;
    margin-right:5em;
    font-size:14px;
    color:#fff;
}
.header-left ul li span{
    left:-.5em;
    color:#F3AD45;
}
.header-left ul li a{
    color:#fff;
    text-decoration:none;
}
.header-left ul li a:hover{
    color:#F3AD45;
}
.header-left{
    float: left;
    padding:.7em 0 0 17em;
}
.header-right{
    float: right;
}
.logo {
    text-align: center;
}
.logo h1 a{
    font-size:3em;
    text-decoration:none;
    text-align:center;
    color:#fff;
}
.logo h1 a span{
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #E9E9E9;
}
.container.banner-drop.nav-open{
    margin-top: 8em;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.webDetails{display:none; background:rgba(14, 14, 14, 0.8); width:100%;top: 0; height:0%; position: absolute;    padding: 10%;


    color: #fff;
    left: 0;}
.jcarousel li{   height: 100%;
    cursor: pointer;
	border:0px !important;
    position: relative;}
	
	.jcarousel img{
		    margin: 0 auto;
	}
.jcarousel li:hover .webDetails{display:block;
height:100%;}
/*
  menu icon css3
*/
.menu-icon {
    position: relative;
    display: block;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}
.menu-icon:hover span {
    background:#F3AD45;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
    background:#F3AD45;
}

.menu-icon > span {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 0.25em;
    background-color:#FFFFFF;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before,
.menu-icon > span:after {
    content: "";
    right: 0em;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
    border-radius: 3px;
    -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
    -webkit-transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: background 0.25s ease, -webkit-transform 0.3s;
    transition: transform 0.3s, background 0.25s ease;
    transition: transform 0.3s, background 0.25s ease, -webkit-transform 0.3s;
}

.menu-icon > span:before {
    -webkit-transform: translateY(-0.75em);
    transform: translateY(-0.75em);
    -moz-transform: translateY(-0.75em);
    -o-transform: translateY(-0.75em);
    -ms-transform: translateY(-0.75em);
}

.menu-icon > span:after {
    -webkit-transform: translateY(0.75em);
    transform: translateY(0.75em);
    -moz-transform: translateY(0.75em);
    -o-transform: translateY(0.75em);
    -ms-transform: translateY(0.75em);
}

/* OPENED */
.menu-icon.open {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.menu-icon.open > span:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.menu-icon.open > span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.header-right nav {
    position: absolute;
    top: -23%;
    left: 24%;
    color: #999;
    z-index: -1;
}
.header-right nav ul li.animate {
    top: 0;
}
.header-right nav ul li {
    display: inline-block;
    text-align: center;
    margin: 1em 2em;
    cursor: pointer;
    position: relative;
    top: -8em;
}
.header-right nav ul li:nth-child(1) {
    -moz-transition: top 0.3s ease 0.15s;
    -o-transition: top 0.3s ease 0.15s;
    -webkit-transition: top 0.3s ease;
    -webkit-transition-delay: 0.15s;
    -webkit-transition: top 0.3s ease 0.15s;
    transition: top 0.3s ease 0.15s;
}
.header-right nav ul li:nth-child(2) {
    -moz-transition: top 0.3s ease 0.2s;
    -o-transition: top 0.3s ease 0.2s;
    -webkit-transition: top 0.3s ease;
    -webkit-transition-delay: 0.2s;
    -webkit-transition: top 0.3s ease 0.2s;
    transition: top 0.3s ease 0.2s;
}
.header-right nav ul li:nth-child(3) {
    -moz-transition: top 0.3s ease 0.25s;
    -o-transition: top 0.3s ease 0.25s;
    -webkit-transition: top 0.3s ease;
    -webkit-transition-delay: 0.25s;
    -webkit-transition: top 0.3s ease 0.25s;
    transition: top 0.3s ease 0.25s;
}
.header-right nav ul li:nth-child(4) {
    -moz-transition: top 0.3s ease 0.3s;
    -o-transition: top 0.3s ease 0.3s;
    -webkit-transition: top 0.3s ease;
    -webkit-transition-delay: 0.3s;
    -webkit-transition: top 0.3s ease 0.3s;
    transition: top 0.3s ease 0.3s;
}
.header-right nav ul li:nth-child(5) {
    -moz-transition: top 0.3s ease 0.35s;
    -o-transition: top 0.3s ease 0.35s;
    -webkit-transition: top 0.3s ease;
    -webkit-transition-delay: 0.35s;
    -webkit-transition: top 0.3s ease 0.35s;
    transition: top 0.3s ease 0.35s;
}
.header-right nav ul li:hover {
    opacity: 1;
}
.header-right nav ul li i {
    font-size: 1.5em;
    background:#F3AD45;
    padding: 0.75em;
    border-radius: 50%;
    color: white;
    display: inline-block;
    overflow: hidden;
    text-shadow: 0px 0px #D5963A, 1px 1px #D5963A, 2px 2px #D5963A, 3px 3px #D5963A, 4px 4px #D5963A, 5px 5px #D5963A, 6px 6px #D5963A, 7px 7px #D5963A, 8px 8px #D5963A, 9px 9px #D5963A, 10px 10px #D5963A, 11px 11px #D5963A, 12px 12px #D5963A, 13px 13px #D5963A, 14px 14px #D5963A, 15px 15px #D5963A, 16px 16px #D5963A, 17px 17px #D5963A, 18px 18px #D5963A, 19px 19px #D5963A, 20px 20px #D5963A, 21px 21px #D5963A, 22px 22px #D5963A, 23px 23px #D5963A, 24px 24px #D5963A, 25px 25px #D5963A, 26px 26px #D5963A, 27px 27px #D5963A, 28px 28px #D5963A, 29px 29px #D5963A, 30px 30px #D5963A, 31px 31px #D5963A, 32px 32px #D5963A, 33px 33px #D5963A, 34px 34px #D5963A, 35px 35px #D5963A, 36px 36px #D5963A, 37px 37px #D5963A, 38px 38px #D5963A, 39px 39px #D5963A, 40px 40px #D5963A, 41px 41px #D5963A, 42px 42px #D5963A, 43px 43px #D5963A, 44px 44px #D5963A, 45px 45px #D5963A, 46px 46px #D5963A, 47px 47px #D5963A, 48px 48px #D5963A, 49px 49px #D5963A, 50px 50px #D5963A, 51px 51px #D5963A, 52px 52px #D5963A, 53px 53px #D5963A, 54px 54px #D5963A, 55px 55px #D5963A, 56px 56px #D5963A, 57px 57px #D5963A, 58px 58px #D5963A, 59px 59px #D5963A, 60px 60px #D5963A;
}
.header-right nav ul li.active i {
    background:#454445;
    text-shadow: 0px 0px #525252, 1px 1px #525252, 2px 2px #525252, 3px 3px #525252, 4px 4px #525252, 5px 5px #525252, 6px 6px #525252, 7px 7px #525252, 8px 8px #525252, 9px 9px #525252, 10px 10px #525252, 11px 11px #525252, 12px 12px #525252, 13px 13px #525252, 14px 14px #525252, 15px 15px #525252, 16px 16px #525252, 17px 17px #525252, 18px 18px #525252, 19px 19px #525252, 20px 20px #525252, 21px 21px #525252, 22px 22px #525252, 23px 23px #525252, 24px 24px #525252, 25px 25px #525252, 26px 26px #525252, 27px 27px #525252, 28px 28px #525252, 29px 29px #525252, 30px 30px #525252, 31px 31px #525252, 32px 32px #525252, 33px 33px #525252, 34px 34px #525252, 35px 35px #525252, 36px 36px #525252, 37px 37px #525252, 38px 38px #525252, 39px 39px #525252, 40px 40px #525252, 41px 41px #525252, 42px 42px #525252, 43px 43px #525252, 44px 44px #525252, 45px 45px #525252, 46px 46px #525252, 47px 47px #525252, 48px 48px #525252, 49px 49px #525252, 50px 50px #525252, 51px 51px #525252, 52px 52px #525252, 53px 53px #525252, 54px 54px #525252, 55px 55px #525252, 56px 56px #525252, 57px 57px #525252, 58px 58px #525252, 59px 59px #525252, 60px 60px #525252;
}
.header-right nav ul li.active a{
    color:#F3AD45;
}
.header-right nav ul li a{
    color: #454445;
    font-family: 'Oleo Script', cursive;
    text-decoration: none;
}
.header-right nav ul li a span{
    display: block;
    font-size: 1.2em;
}
.container {
    margin: 0 auto;
    -moz-transition: all 0.3s ease 0.6s;
    -o-transition: all 0.3s ease 0.6s;
    -webkit-transition: all 0.3s ease;
    -webkit-transition-delay: 0.6s;
    -webkit-transition: all 0.3s ease 0.6s;
    transition: all 0.3s ease 0.6s;
    z-index: 10;
    position: relative;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
}
.container.nav-open .header-right nav {
    z-index: 1;
}
.social-icons {
    padding: 1em 0 0;
    text-align: center;
}
.social-icons ul li{
    display:inline-block;
    padding: 0 !important;
    margin: 5px !important;
}
.social-icons ul li a{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
}
.social-icons ul li a,.services-grid h5 a,.footer-copy p a,.footer-grid ul li a,.contact-left2 ul li a,.mail input[type="submit"] , .fa-arrow-down{
    transition:.5s ease-in-out;
    -webkit-transition:.5s ease-in-out;
    -moz-transition:.5s ease-in-out;
    -o-transition:.5s ease-in-out;
    -ms-transition:.5s ease-in-out;
}
.banner-bottom{

    margin: 5% auto;
    width:80%;
}
.fa-arrow-down{
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    line-height: 44px;
    display: block;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 30px auto;
    line-height: 40px;
}
.social-icons ul li a.fa-linkedin:hover , .fa-facebook:hover , .fa-envelope-o:hover , .fa-arrow-down:hover, .fa-phone:hover{
    border:2px solid #F3AD45;
    color: #fff;
    line-height: 40px;
    border:2px solid #F3AD45;
    background: #F3AD45;
}
.social-icons ul li a.fa-linkedin , .fa-facebook , .fa-envelope-o, .fa-phone{
    display:block;
    color: #fff;
    float: left;
    line-height: 40px;
}
.social-icons{
    margin-top:50px;
}

.footer-copy-grid  .social-icons{margin-top: 0px;    padding: 0px;}
.footer-copy-grid ul li{    float: left;}
.footer-copy-grid:nth-child(2){    margin: 0 0 2em;}
/*-- //banner --*/
/*-- banner-bottom --*/
/*--flexisel--*/
.flex-slider{
    background:#222227;
    padding: 70px 0 165px 0;
}
.nbs-flexisel-ul {
    position: relative;
    width: 9999px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nbs-flexisel-inner {
    overflow: hidden;
    margin: 0px auto;
    width: 75%;
    border-right:none;
}
.nbs-flexisel-item {
    float: left;
    margin: 0;
    padding: 0em;
    position: relative;
    line-height: 0px;
    text-align: center;
}
.nbs-flexisel-item > img {
    cursor: pointer;
    position: relative;
}
/*---- Nav ---*/
.nbs-flexisel-nav-left, .nbs-flexisel-nav-right {
    width: 22px;
    height: 69px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.nbs-flexisel-nav-left {
    left: 0%;
    top: 33% !important;
    background:none;
}
.nbs-flexisel-nav-right {
    right: 0%;
    top: 33% !important;
    background: none;
}
/*--//flexisel--*/
.item-sub{
    background:url(../images/1.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.item-sub1{
    background:url(../images/2.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.item-sub2{
    background:url(../images/3.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.item-sub3{
    background:url(../images/4.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
.item-sub4{
    background:url(../images/16.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
.item-sub5{
    background:url(../images/55.JPG) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
.item-sub6{
    background:url(../images/66.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
.item-sub7{
    background:url(../images/77.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    -o-background-size:100% 100%;
    -ms-background-size:100% 100%;
}
.item-sub3,.item-sub,.item-sub1,.item-sub2,.item-sub4 ,.item-sub5,.item-sub6{
    min-height:480px;
}
.item1 i{
    font-size:2em;
    color:#fff;
    top:4em;
}
.item1 h3{
    font-size: 3.5em;
    color: #fff;
    margin:3em 0 0em;
}
.item1 p{
    font-size:14px;
    color:#f5f5f5;
    line-height:1.8em;
    margin:0 auto;
    width:80%;
}
.item{
    position:relative;
}
.item .p-mask, .row .product .vm-product-media-container .p-mask {
    opacity: 0;
    visibility: hidden;
    background:rgba(0, 0, 0, 0.72);
    bottom: 0%;
    position: absolute;
    padding:1.5em 1.5em;
    width: 100%;
    -webkit-transform: translate3d( 0px, 100%, 0px );
    -moz-transform: translate3d( 0px, 100%, 0px );
    -ms-transform: translate3d( 0px, 100%, 0px );
    -o-transform: translate3d( 0px, 100%, 0px );
    transform: translate3d( 0px, 100%, 0px );
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
    text-align: left;
}
.item .p-mask .p-desc{
    color: #a3a3a3;
    position: relative;
    display: block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}
.item:hover .p-mask, .row .product:hover .p-mask {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d( 0px, 0px, 0px );
    -moz-transform: translate3d( 0px, 0px, 0px );
    -ms-transform: translate3d( 0px, 0px, 0px );
    -o-transform: translate3d( 0px, 0px, 0px );
    transform: translate3d( 0px, 0px, 0px );
}
.p-mask h4{
    color:#F3AD45;
    font-size:1.5em;
    text-decoration:none;
    line-height:1.8em;
}
.p-mask p{
    margin: 0;
    color: #D7D7D7;
    line-height: 1.8em;
    font-size: 14px;
}
/*-- //banner-bottom --*/
/*-- banner-bottom-grids --*/
.banner-bottom-grid,.banner-bottom-grid-left,.banner-bottom-grid-sub{
    padding:0;
}

.col-md-3.footer-copy-grid{width:50% !important;    margin-top: 5%;}
.banner-bottom-grid-left h2{
    color:#454445;
    margin:0;
    line-height:1.5em;
    text-transform:capitalize;
}
.banner-bottom-grid-left h2 span{
    color:#F3AD45;
}
.banner-bottom-grid-left p{
    margin:1em 0 4em;
    color:#fff;
    line-height:1.8em;
    font-size:14px;
    width: 70%;
}
h1{    margin-top: 100px;}
.more{    text-align: center; border-radius: 10px; margin-top:10px;}
.more a{
    padding:8px 20px;
    border:1px solid #fff;
    font-size:1em;
    display: inline-block;
    margin:0px 5px;
    color:#fff;
    text-decoration:none;
    font-family: 'Oleo Script', cursive;
}
.more a:hover{
    border:1px solid #4F3AD45;
    color:#fff;
    background:#F3AD45;
}
.banner-bottom-grid img{
    width:100%;
}
.banner-bottom-grid1{
    position: absolute;
    padding: 1em;
    width: 100%;
    background: #454445;
    z-index: 1;
}
.banner-bottom-grid1-pos,.banner-bottom-grid-sub-pos{
    padding:2em;
    border: 1px solid #DFDEDC;
}
.banner-bottom-grid,.banner-bottom-grid-sub{
    position:relative;
}
.banner-bottom-grid1-pos h3{
    font-size: 2.5em;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    line-height:1.5em;
}
.banner-bottom-grid-sub-pos h3{
    font-size: 2.5em;
    color: #fff;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    line-height:1.6em;
}
.banner-bottom-grid1-pos h3 span{
    font-size:.9em;
    display:block;
}
.banner-bottom-grid1-pos h3 i{
    color: #F3AD45;
    display: block;
    font-size: 1.5em;
}
.banner-bottom-grid-sub1{
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 1em;
    width: 81%;
    height: 100%;
}
.banner-bottom-grid-sub-pos h3 span {
    font-family: 'Oleo Script', cursive;
    font-size: .7em;
    color: #F3AD45;
}
.banner-bottom-grid-sub-pos h3 i {
    font-style: normal;
    font-weight: 600;
}
.banner-bottom-grid-left1 {
    padding: 12em 0 0;
}
.banner-bottom-grid-left1 p{
    font-size: 1em;
    color: #999;
    margin: 0;
    line-height: 1.8em;
    padding-left: 2em;
    position: relative;
    width: 75%;
    text-transform: capitalize;
}
/*-- //banner-bottom-grids --*/
/*-- footer-top --*/
.footer-top{
    background:url(../images/8.jpg) no-repeat 0px 0px;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:400px;
    padding:5em 0 0;
    text-align:center;
    position:relative;
}
.footer-top h3{
    font-size:2em;
    color:#fff;
    margin:0;
    line-height:1.5em;
    font-family: 'Open Sans', sans-serif;
}
.footer-top h3 span{
    color: #F3AD45;
    font-size: 2.1em;
    font-family: 'Oleo Script', cursive;
}
.footer-top p{
    font-size:14px;
    color:#f5f5f5;
    margin:1em 0 4em;
    line-height:1.8em;
}
.footer-top p span {
    text-transform: uppercase;
}
.footer-top-image {
    position: absolute;
    right: 0%;
    bottom: -83%;
}
/*-- //footer-top --*/
/*-- footer --*/
.footer{
    padding:1.5em 0;
    background:#000;
    text-align:center;
}
.footer p{
    font-size:14px;
    color:#f5f5f5;
    margin:0;
    line-height:1.8em;
}
.footer p a{
    color:#F3AD45;
    text-decoration:none;
}
.footer p a:hover{
    color:#fff;
}
.footer-copy{
	height:100vw;
    padding:3% 10% 15%;
    background:#131313;
}
.footer-copy-grid h3{
    font-size:2em;
    color:#fff;
    margin:0 0 1em;
}
.footer-copy-grid h3 span{
    color:#F3AD45;
}
.footer-copy-grid p{
    color:#999;
    margin:1em 0 0;
    line-height:1.8em;
    font-size:14px;
}
.footer-copy-grid1 {
    padding:0 .4em .4em;
}
.footer-copy-grid input[type="text"],.footer-copy-grid input[type="email"],.footer-copy-grid textarea{
    outline: none;
    border: 1px solid #3B3B3B;
    padding: 7px 10px;
    background: #000;
    color: #999;
    font-size: 14px;
    width: 100%;
}
.footer-copy-grid input[type="email"]{
    margin:.5em 0;
}
.footer-copy-grid textarea{
    min-height:100px;
    resize:none;
}
.footer-copy-grid input[type="button"]{
    outline:none;
    border:none;
    padding:7px 0;
    background:#454445;
    color:#fff;
    font-size:14px;
    width:50%;
    margin:.2em 0 0;
}
.footer-copy-grid input[type="button"]:hover{
    background:#F3AD45;
}
.footer-copy-grid ul li{
    padding-left: 2em;
    margin-bottom: 1em;
    list-style-type: none;
}
.footer-copy-grid ul li a{
    font-size:20px;
    color:#fff;
    text-decoration:none;
}
.footer-copy-grid ul li a:hover{
    color:#fff;
}
/*-- //footer --*/
/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/top_arrow.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- about --*/
.header1 {
    padding:2em 0 8em !important;
}
.header-right1 nav {
    top: -31% !important;
}
.about,.team,.typo,.mail,.blog{
    padding:5em 0;
}
.about-grid-left{
    border:1px solid #DEDEDE;
    padding:1em;
}
.about-grid-left1{
    padding:1.5em;
    border:1px solid #DEDEDE;
}
.about-grid-left1 h2{
    font-size: 1.5em;
    color: #454445;
    margin: 0;
    line-height: 1.5em;
    text-transform: capitalize;
}
.about-grid-left1 h2 span{
    color:#F3AD45;
}
.about-grid-left1 p{
    padding:1.5em 0 0;
    margin:1.5em 0 1em;
    border-top:1px solid #DEDEDE;
    font-size:14px;
    color:#999;
    line-height:1.8em;
}
.about-grid-left1 h4{
    font-size:1.2em;
    color:#F3AD45;
    margin:0;
    line-height:1.5em;
}
.about-grid-left1 ul{
    padding:1em 0 2em;
}
.about-grid ul{
    padding:1em 0 0;
}
.about-grid-left1 ul li,.about-grid ul li{
    padding-left: 2em;
    margin-bottom: 1em;
    background: url(../images/img-sp.png) no-repeat -15px -204px;
    list-style-type: none;
}
.about-grid-left1 ul li a,.about-grid ul li a{
    color:#999;
    font-size:14px;
    text-decoration:none;
    text-transform: capitalize;
}
.about-grid-left1 ul li a:hover,.about-grid ul li a:hover{
    color: #454445;
}
.about-grid h3,.team h3,h2.title,.mail h2,.map-grid h3,.recent-comments h3,.leave-comment h3{
    font-size:2em;
    color:#F3AD45;
    margin:0;
}
.about-grid h3{
    margin:0 0 1em !important;
}
.about-grid p{
    margin:1em 0 0;
    color:#999;
    line-height:1.8em;
    font-size:14px;
}
.about-grid p span{
    display:block;
    margin:1em 0 0;
}
.about-grid h3 span,.team h3 span,.mail h2 span,.map-grid h3 span,.recent-comments h3 span,.leave-comment h3 span{
    color: #454445;
}
.team-grids{
    margin:3em 0 0;
}
.team-grid1-sub{
    padding:1em;
    background:#F3AD45;
}
.team-grid:hover .team-grid1-sub{
    background:#454445;
}
.team-grid:hover .team-grid1-sub h4{
    color:#fff;
}
.team-grid1-sub h4{
    text-transform:capitalize;
    font-size:1.3em;
    margin:0;
    line-height:1.5em;
    color: #454445;
}
.team-grid1-sub p{
    margin:1em 0 0em;
    color:#FFF;
    line-height:1.8em;
    font-size:14px;
}
.social-icons1{
    text-align:left;
}
.column div {
    position: relative;
    float: none;
}
.column div,figure {
    width: 350px;
    height: 200px;
}
figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}
figure img{
    width:100%;
}
figure:hover+span {
    bottom: -36px;
    opacity: 1;
}
.comments-list.hover14.column div,.comments-list figure {
    width: 100%;
    height: 100%;
}
/* Shine */
.hover14 figure {
    position: relative;
}
.hover14 figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.team-grid:hover .hover14 figure::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
.hover14:hover figure::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
    -moz-animation: shine .75s;
    -o-animation: shine .75s;
    -ms-animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
/*-- //about --*/
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
    text-align: center;
    margin-bottom: 10px;
    line-height: 2em;
    border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
    background: #e0e0e0;
}
.grid_3{
    margin-bottom:2em;
}
.xs h3, h3.m_1{
    color:#000;
    font-size:1.7em;
    font-weight:300;
    margin-bottom: 1em;
}
.grid_3 p{
    color: #999;
    font-size: 0.85em;
    margin-bottom: 1em;
    font-weight: 300;
}
.grid_4{
    background:none;
    margin-top:50px;
}
.label {
    font-weight: 300 !important;
    border-radius:4px;
}
.grid_5{
    background:none;
    padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color:#454445;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 0;
}
.badge-primary {
    background-color: #03a9f4;
}
.badge-success {
    background-color: #8bc34a;
}
.badge-warning {
    background-color: #ffc107;
}
.badge-danger {
    background-color: #e51c23;
}
.grid_3 p{
    line-height: 2em;
    color: #888;
    font-size: 0.9em;
    margin-bottom: 1em;
    font-weight: 300;
}
.bs-docs-example {
    margin: 1em 0;
}
section#tables  p {
    margin-top: 1em;
}
.tab-container .tab-content {
    border-radius: 0 2px 2px 2px;
    border: 1px solid #e0e0e0;
    padding: 16px;
    background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 0.9em;
    color: #999;
    border-top: none !important;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
.label {
    font-weight: 300 !important;
}
.label {
    padding: 4px 6px;
    border: none;
    text-shadow: none;
}
.nav-tabs {
    margin-bottom: 1em;
}
.alert {
    font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
    line-height:1.8em;
    margin-top:0.5em;
    margin-bottom: 0.5em;
}
li.list-group-item1 {
    line-height: 2.5em;
}
.input-group {
    margin-bottom: 20px;
}
.list-group {
    margin-bottom: 48px;
}
ol {
    margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
    .grid_5 {
        padding: 0 0 1em;
    }
    .grid_3 {
        margin-bottom: 0em;
    }
}


/*******************************************************************************************MEDIA***************************************************************************************/
/*******************************************************************************************MEDIA***************************************************************************************/
/*******************************************************************************************MEDIA***************************************************************************************/
@media (max-width:640px){
	.barber{background: url('../images/mobile/barber.gif') center center  !important; }
	.gemstone{background: url('../images/mobile/10.JPG') center center !important;}
	.cvmatcher{background: url('../images/mobile/16.png') center center !important;}
	.cart{background: url('../images/mobile/4.jpg') center center !important;}
	.valentines{background: url('../images/mobile/20.png') center center !important;}
	.zoo{background: url('../images/mobile/zoo.png') center center !important;}
	.lovehearts{background: url('../images/mobile/11.png') center center !important;}
	.roo{background: url('../images/mobile/12.JPG') center center !important;}
	.sm{background: url('../images/mobile/2.jpg') center center !important;}
	.beyond{background: url('../images/mobile/beyond.png') center center !important;}
	.beeloved{background: url('../images/mobile/Matcher.png') center center !important;}
	.mishpahton{background: url('../images/mobile/parpar.png') center center !important;}
	.trivia{background: url('../images/mobile/trivia.jpg') center center !important;}
	
	.slItem{
		 width:358px;height: 650px;
	}
	.slText {
    top: -80% !important;
}
	
	
	
	
	
	.slider [class*="ctrl"]{
	    top: 74%;}
	.slDots{display:none;}
	.ctrlPrev {
    left: 5px;background: #ccc;
}
.ctrlNext {
    right: 5px;background: #ccc;
}
	.mobileSize{
    width: 358px !important;
    margin: 0 auto  !important;
    text-align: center;
    display: block;
    margin-top: 20% !important;
    height: 80% !important;
    position: inherit !important;}
    .slider{    height: 80vh;}
    .banner-bottom-grids{min-height:0px !important;}
    .banner-bottom{    width: 50%;margin: 0% auto 10%;}
    .col-md-5{display: none;}
    .hideOnMobile{display:none;}
    .showOnMobile{display:block;}
    .h1, h2, .h2, h3, .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
        margin-bottom: .5em;
    }
    .progress {
        height: 10px;
        margin-bottom: 10px;
    }
    ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
        font-size: 14px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .well {
        font-size: 14px;
        margin-bottom: 10px;
    }
    h2.typoh2 {
        font-size: 1.5em;
    }
}
@media (max-width:480px){
    .table h1 {
        font-size: 26px;
    }
    .table h2 {
        font-size: 23px;
    }
    .table h3 {
        font-size: 20px;
    }
    .label {
        font-size: 53%;
    }
    .alert,p {
        font-size: 14px;
    }
    .pagination {
        margin: 20px 0 0px;
    }
}
@media (max-width: 320px){
    .caption span {
        margin: 0 0 1.5em;
    }
    .grid_4 {
        margin-top: 18px;
    }
    h3.title {
        font-size: 1.6em;
    }
    .alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
        font-size: 13px;
    }
    .alert {
        padding: 10px;
        margin-bottom: 10px;
    }
    ul.pagination li a {
        font-size: 14px;
        padding: 5px 11px;
    }
    .list-group {
        margin-bottom: 10px;
    }
    .well {
        padding: 10px;
    }
    .nav > li > a {
        font-size: 14px;
    }
    table.table.table-striped,.table-bordered,.bs-docs-example {
        display: none;
    }
}
/*-- //Typography --*/
/*-- mail --*/
.mail-grids{
    margin:3em 0 10em;
}
.mail-grid-left{
    background:#f5f5f5;
    min-height:100px;
    position:relative;
    border-right:1px dotted #999;
}
.mail-grid-left-pos{
    position: absolute;
    top: 25%;
    right: -30%;
    width: 58%;
    height: 50%;
    background:#454445;
    border-radius: 100%;
}
.mail-grid-left-pos span{
    color: #fff;
    font-size: 1em;
    top: 1em;
    left: 1.1em;
}
.mail-grid1{
    border:1px dotted #999;
}
.mail-grid-right1{
    padding:1.6em 1em 0em 2em;
}
.mail-grid-right1 h3,.mail-grid-right p{
    font-size:1em;
    color:#999;
    margin:0;
    line-height:1.5em;
}
.mail-grid-right1 h3 i{
    color:#F3AD45;
}
.mail-grid-right p a span,.mail-grid-right p span{
    display:block;
}
.mail-grid-right p a{
    text-decoration:none;
    color:#999;
}
.mail-grid-right p a:hover{
    color:#000;
}
.map-grid iframe{
    width:100%;
    min-height:400px;
}
.map-grid form,.map-grid iframe {
    margin: 2em 0 0;
}
.map-grid input[type="text"],.map-grid input[type="email"],.map-grid textarea{
    outline: none;
    border: 1px solid #E6E6E6;
    background: #F1F1F1;
    color: #999;
    font-size: 14px;
    width: 48.3%;
    padding: 10px;
}
.map-grid input[type="text"]:nth-child(3){
    width:100%;
    margin:1em 0;
}
.map-grid input[type="email"]{
    margin-left:1em;
}
.map-grid textarea{
    resize:none;
    min-height:200px;
    width:100% !important;
    margin-bottom:.8em;
}
.map-grid input[type="submit"]{
    outline:none;
    border:none;
    background:#454445;
    color:#fff;
    font-size:1em;
    width:30%;
    padding:10px 0;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
}
.map-grid input[type="submit"]:hover{
    background:#F3AD45;
}
.mail-grid1:hover .mail-grid-left {
    background:#454445;
}
.mail-grid1:hover .mail-grid-left-pos{
    background:#F3AD45;
}
/*-- //mail --*/
/*-- blog --*/
.comments-list h3{
    font-size:2em;
    color:#454445;
    margin:0 0 1em;
    text-transform:capitalize;
    text-decoration: none;
    line-height: 1.3em;
}
.comments-list h3 a{
    color:#454445;
}
.comments-list h3 a:hover{
    color:#F3AD45;
}
.comments-list ul{
    padding:1.5em 0 2em;
}
.comments-list ul li{
    display:inline-block;
    font-size:14px;
    color:#999;
}
.comments-list ul li a{
    color:#999;
    text-decoration:none;
}
.comments-list ul li span{
    left:-.5em;
}
.comments-list ul li a:hover{
    color:#F3AD45;
}
.comments-list ul li i{
    margin:0 1em;
}
a.bake{
    padding: .3em .5em;
    background: #F3AD45;
    color: #fff !important;
}
a.bake:hover{
    background:#454445;
}
.comments-list p{
    margin:2em 0;
    color:#999;
    line-height:1.8em;
    font-size:14px;
}
.comments-list:nth-child(2){
    margin:5em 0;
    padding:3em 0 5em;
    border-top:1px solid #999;
    border-bottom:1px solid #999;
}
ul.paging{
    padding:5em 0 0;
}
.popular h3,.subscribe h3,.categories h3,.instagram h2,.tags h3{
    padding:1em;
    background:#454445;
    color:#fff;
    font-size:1.5em;
    text-align:center;
    margin: 0 0 1.5em;
}
.popular-left{
    float:left;
    width:20%;
}
.popular-right{
    float:right;
    width:80%;
}
.popular-left h4{
    color:#F3AD45;
    font-size:1.5em;
    margin:0;
}
.popular-right h5 a{
    font-size:1.5em;
    color:#999;
    text-decoration:none;
    text-transform:capitalize;
}
.popular-right h5 a:hover{
    color:#F3AD45;
}
.popular-right p{
    font-size:14px;
    color:#999;
    margin:.5em 0 0;
    line-height:1.8em;
}
.popular-right p span{
    display:block;
    font-size:1em;
    margin:.5em 0 0;
}
.popular-grid:nth-child(3){
    margin:2em 0;
}
.subscribe,.instagram{
    margin:3em 0;
}
.subscribe p{
    font-size:14px;
    color:#999;
    margin:0 0 1em;
    line-height:1.8em;
    text-align:center;
}
.subscribe input[type="email"]{
    outline: none;
    border: 1px solid #D1D1D1;
    background: #E1E1E1;
    font-size: 14px;
    color: #999;
    padding: 10px;
    width: 100%;
    margin-bottom: .5em;
}
.subscribe input[type="submit"]{
    outline:none;
    border:none;
    background:#F3AD45;
    font-size:1em;
    color:#fff;
    padding:10px 0;
    width:100%;
}
.subscribe input[type="submit"]:hover{
    background:#454445;
}
.categories ul li{
    padding-left: 2em;
    margin-bottom: 1em;
    background: url(../images/img-sp.png) no-repeat -15px -204px;
    list-style-type: none;
}
.categories ul li a{
    color: #999;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
}
.categories ul li a:hover{
    color: #454445;
}
.instagram-grid{
    float:left;
    width:33.33%;
}
.instagram-grid img:hover{
    opacity:.5;
}
.tags ul li{
    display:inline-block;
    margin: 0 0px 9px;
}
.tags ul li a{
    border: 1px solid #454445;
    padding: 3px 12px;
    font-size: 14px;
    color: #454445;
    text-decoration: none;
}
.tags ul li a:hover{
    border: 1px solid #F3AD45;
    color: #fff;
    background:#F3AD45;
}
/*-- //blog --*/
/*-- single --*/
.comments-list p span{
    display:block;
    margin:1em 0 0;
}
.admin{
    padding:2em;
    background:#f5f5f5;
    margin:1em 0 5em;
}
.admin-left{
    float:left;
    width:15%;
}
.admin-right{
    float:right;
    width:80%;
}
.admin-right p{
    font-size:14px;
    color:#999;
    margin:0;
    line-height:1.8em;
}
.admin-right p a{
    color: #F3AD45;
    text-decoration: none;
    display: block;
    margin: 1em 0 0;
}
.admin-right p a:hover{
    color:#999;
}
.recent-comments-grids{
    padding:2em;
    background:#f5f5f5;
    margin: 2em 0 0em;
}
.recent-comments-grid-right h4 a{
    font-size:1em;
    color: #454445;
    text-decoration:none;
}
.recent-comments-grid-right h4 a:hover{
    color:#999;
}
.recent-comments-grid-right p{
    margin:1em 0 0;
    color:#999;
    line-height:1.8em;
    font-size:14px;
}
.recent-comments-grid-right p span{
    display:block;
    margin:1em 0 0;
    color: #F3AD45;
}
.recent-comments-grid-right{
    float:right;
    width:80%;
}
.recent-comments-grid-left{
    float:left;
    width:15%;
}
.recent-comments-grid:nth-child(2){
    margin:2em 0;
}
.recent-comments-grid:nth-child(3){
    margin:0em 0 2em;
}
.leave-comment{
    margin:5em 0 0;
}
.leave-comment form{
    margin:3em 0 0;
}
.leave-comment input[type="text"],.leave-comment input[type="email"],.leave-comment textarea{
    outline: none;
    padding: 10px;
    width: 49.2%;
    background: #f5f5f5;
    border: 1px solid #D1D1D1;
    font-size: 14px;
    color: #999;
}
.leave-comment input[type="email"]{
    margin-left:.5em;
}
.leave-comment input[type="text"]:nth-child(3){
    margin:.5em 0;
    width:100% !important;
}
.leave-comment textarea{
    min-height:200px;
    width:100% !important;
    margin-bottom: .2em;
}
.leave-comment input[type="submit"]{
    outline:none;
    padding:10px 0;
    width:100%;
    background:#F3AD45;
    border:none;
    font-size:1em;
    color:#fff;
    text-align:center;
}
.leave-comment input[type="submit"]:hover{
    background:#454445;
}

.jcarousel{height:100%;}
.jcarousel-wrapper{width:100%;  border:0px !important; margin-top: 0px;    height: 50%;   clear: both;}

#section0{
    background: url(../images/banner1.jpg) no-repeat 0% 60%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
#section1{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
.wrap2{    background: #131313; height: 100%;}
/*-- //single --*/
/*-----start-responsive-design------*/
@media (max-width:1680px){
    .banner-bottom-grid-sub1 {
        width: 77%;
    }
}
@media (max-width:1600px){
    .banner-bottom-grid-sub1 {
        width: 81%;
    }
}
@media (max-width:1440px){
    .banner {
        min-height: 715px;
    }
    .banner-bottom-grid-sub1 {
        width: 89.5%;
    }
    .banner-bottom-grid-left1 p {
        width: 100%;
    }
   
}
@media (max-width:1366px){
    .item-sub3, .item-sub, .item-sub1, .item-sub2, .item-sub4,.item-sub5,.item-sub6 {
        min-height: 250px;
        margin:0px 10px;
        border:1px solid #000;
    }
    .item1 h3 {
        margin: 2.5em 0 0em;
    }
    .banner-bottom-grid1-pos h3 {
        font-size: 2.2em;
    }
    .banner-bottom-grid1 {
        top: 0;
        right: 0px;
    }
   
    .banner-bottom-grid-sub1 {
        width: 94.5%;
        top: 1%;
    }
}
@media (max-width:1280px){
    .header {
        padding: 3em 0 10em;
    }
    .banner {
        min-height: 610px;
    }
    .header-right nav {
        top: -28%;
    }
    .item1 h3 {
        font-size: 2.5em;
        margin: 3.5em 0 0em;
    }
   
    .banner-bottom-grid-sub1 {
        width: 100%;
        top: 0%;
    }
    .banner-bottom-grid-left1 p:before {
        left: 2%;
    }
}
@media (max-width:1080px){
    .header-left {
        padding: .7em 0 0 10em;
    }
    .logo h1 a {
        font-size: 2.5em;
    }
    .header-right nav {
        left: 18%;
    }
    .banner-bottom-grid-left h2 {
        font-size: 2em;
    }
    .banner-bottom-grid1-pos h3 {
        font-size: 1.8em;
    }
    .banner-bottom-grid-left {
        padding:1em 0 0 1em;
    }
    .jcarousel-wrapper{height:40%;}
    .banner-bottom-grid-left p {
        margin: 1em 0 2em;
        width: 85%;
    }
    .banner-bottom-grid-left1 p {
        font-size: 14px;
        width: 100%;
    }
    .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
        padding: 1.5em;
    }

    .banner-bottom-grid-sub-pos h3 {
        font-size: 2.1em;
    }
    .banner-bottom-grid-left1 {
        padding: 11em 0 0;
    }
    .footer-top h3 {
        font-size: 1.7em;
    }
    .footer-top {
        min-height: 365px;
        padding: 4em 0 0;
    }
    .footer-top-image img {
        width: 85%;
    }
    .header1 {
        padding: 2em 0 5em !important;
    }
    .banner1 {
        min-height: 390px;
    }
    .header-right1 nav {
        top: -36% !important;
    }
    .about, .team, .typo, .mail, .blog {
        padding: 4em 0;
    }
    .about-grid-left1 h2 {
        font-size: 1.3em;
    }
    .column div, figure {
        width: 282px;
        height: 185px;
    }
    .team-grid1-sub h4 {
        font-size: 1.23em;
    }
    .comments-list ul li i {
        margin: 0 0.72em;
    }
    .comments-list:nth-child(2) {
        margin: 4em 0;
        padding: 2em 0 4em;
    }
    ul.paging {
        padding: 4em 0 0;
        margin: 0;
    }
    .leave-comment input[type="text"], .leave-comment input[type="email"], .leave-comment textarea {
        width: 49%;
    }
    .popular h3, .subscribe h3, .categories h3, .instagram h2, .tags h3 {
        padding: .5em;
        margin: 0 0 1em;
    }
    .mail-grid-left-pos {
        width: 72%;
    }
    .mail-grids {
        margin: 3em 0 8em;
    }
    .map-grid input[type="text"], .map-grid input[type="email"], .map-grid textarea {
        width: 47.9%;
    }
    .map-grid iframe {
        min-height: 370px;
    }
}
@media (max-width: 1024px){
    .banner-bottom-grid-sub-pos h3 {
        font-size: 2em;
    }
}
@media (max-width:991px){
    .header-left {
        padding: .7em 0 0 1em;
    }
    .header-left ul li {
        margin-right: 4em;
    }
    .header-right nav {
        left: 8%;
    }
    .item-sub3, .item-sub, .item-sub1, .item-sub2 ,.item-sub4 ,.item-sub5,.item-sub6{
        min-height: 255px;
    }
    .item1 h3 {
        margin: 2.5em 0 0em;
    }
    .item1 i {
        top: 2.5em;
    }
    .banner-bottom-grid img {
        width: auto;
        margin: 0 auto;
    }
    .banner-bottom-grid1 {
        display: none;
        left: 35%;
        width: 60%;
    }
    .banner-bottom-grid-sub {
        width: 43%;
        margin: 13em auto 0;
    }
    .banner-bottom-grid-sub-pos h3 {
        font-size: 2.5em;
    }
    .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
        padding: 1.8em;
    }
    .banner-bottom-grid-left1 {
        padding: 3em 0;
        width: 70%;
        margin: 0 auto;
    }
    .banner-bottom-grid-left1 p:before {
        left: -1%;
    }
    .footer-top-image {
        right: -6%;
    }
    .footer-copy-grid {
        float: left;
        width: 50%;
    }
    .footer-copy-grid:nth-child(2) {
        margin:0 0 2em;
    }
    .about-grid:nth-child(2) {
        margin: 3em 0;
    }
    .team-grid {
        width: 60%;
        margin:0 auto;
    }
    .team-grid:nth-child(2) {
        margin:2em auto;
    }
    .column div, figure {
        width: 100%;
        height: 100%;
    }
    .blog-right:nth-child(2) {
        margin: 3em 0 0;
    }
    .mail-grid:nth-child(2) {
        margin: 2em 0;
    }
    .mail-grid-left-pos {
        width: 31%;
        right: -15%;
    }
    .mail-grid-right1 h3 {
        margin-top: 1em;
    }
    .mail-grids {
        margin: 3em 0 5em;
    }
    .map-grid iframe {
        min-height: 250px;
    }
    .map-grid:nth-child(2) {
        margin: 3em 0 0;
    }
    .map-grid input[type="text"], .map-grid input[type="email"], .map-grid textarea {
        width: 48.68%;
    }
}
@media (max-width:800px){
    .item .p-mask, .row .product .vm-product-media-container .p-mask {
        padding: .5em;
    }
    .banner-bottom-grid-left p {
        width: 80%;
    }
    .logo h1 a {
        font-size: 2.2em;
    }
    .banner {
        min-height: 500px;
    }
    .banner-bottom-grid-sub {
        width: 54%;
    }
    .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
        padding: 2em;
    }
    .banner-bottom-grid-left1 {
        width: 82%;
    }
    .banner-bottom-grid-left1 p {
        width: 100%;
    }
    .banner-bottom-grid-left1 p:before {
        left: 0%;
    }
    .footer-top-image img {
        width:100%;
    }
    .footer-top-image {
        right: 0;
        width: 40%;
    }
    .header-right nav {
        left: 5%;
        top: -30%;
    }
    .header-right1 nav {
        top: -38% !important;
    }
    .team-grid {
        width: 70%;
    }
}
@media (max-width:768px){
    .logo h1 a {
        font-size: 2em;
    }
    .header-right nav ul li a span {
        font-size: 1em;
    }
    .banner-bottom-grid-sub {
        width: 57%;
    }
    .banner-bottom-grid-left1 {
        width: 90%;
    }
    .footer-top h3 {
        font-size: 1.5em;
    }
    .footer-top {
        min-height: 340px;
        padding: 3em 0 0;
    }
    .footer-copy-grid:nth-child(2) {
        margin: 0 0 2em;
    }
    .about, .team, .typo, .mail, .blog {
        padding: 3em 0;
    }
    .leave-comment form {
        margin: 2em 0 0;
    }
}
@media (max-width:736px){
    .header-left ul li {
        margin-right: 2em;
    }
    .header {
        padding: 3em 0 6em;
    }
    .banner {
        min-height: 420px;
    }
}
@media (max-width:640px){
    .header-left ul li {
        margin-right: 1em;
    }
    .logo h1 a {
        font-size: 1.6em;
    }
    .logo h1 a span {
        font-size: 18px;
    }
    .header {
        padding: 2em 0 4em;
    }
    .social-icons ul li {
        margin: 2px !important;
    }
    .banner {
        min-height: 355px;
        height:100vh;
    }
    .header-right nav ul li {
        margin: 1em 1em;
    }
    .header-right nav {
        left: 11%;
        top: -44%;
    }
    .banner-bottom-grid-left h2,.footer-copy-grid h3,.comments-list h3,.about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3{
        font-size: 1.7em;
    }
    .more a {
        padding: 6px 20px;
        font-size: 14px;
        margin: 0px 3px;
    }
    .banner-bottom-grid1 {
        left: 20%;
        width: 75%;
        bottom: -12%;
    }
    .banner-bottom-grids{
        min-height: 100vh;
    }
    .banner-bottom-grid-sub {
        width: 69%;
        margin: 6em auto 0;
    }
    .banner-bottom-grid-sub1 {
        width: 99.5%;
    }
    .footer-top-image {
        right: 5%;
    }
    .footer-copy-grid:nth-child(2) {
        margin: 0 0 5em;
    }
    .banner1 {
        min-height: 340px;
    }
    .team-grid {
        width: 80%;
    }
    .about-grid-left1 h2 {
        font-size: 1.5em;
    }
    .header-right1 nav {
        top: -41% !important;
    }
    .comments-list ul {
        padding: 0em 0 2em;
    }
    .comments-list ul li {
        margin-bottom: .5em;
    }
    .mail-grid-left-pos {
        width: 38%;
    }
    .map-grid input[type="text"], .map-grid input[type="email"], .map-grid textarea {
        width: 48.3%;
    }
}
@media (max-width:600px){
    .nbs-flexisel-inner{width:50%;}
    .footer-copy-grid p{display:none;}
    .footer-copy{height:100%;     padding:0% !important;}
    .footer-copy-grids > div:first-child{display:none;}
    .social-icons ul li{    margin: 6px !important;}
    .header-left ul li {
        font-size: 13px;
    }
    .header-right nav {
        left: 10%;
    }
}
@media (max-width:568px){
    .header-left {
        padding: 0;
        float: none;
        text-align: center;
    }
    .header-right {
        float: none;
        padding: 1em 0 0;
    }
    .menu-icon {
        margin: 0 auto;
    }
    .header-right nav ul li {
        margin: 0em 1em;
    }
    .header-right nav {
        left: 6%;
        top: -29%;
    }
    .container.banner-drop.nav-open {
        margin-top: 6em;
    }
    .header-right1 nav {
        top: -28% !important;
        left: 5%;
    }
}
@media (max-width:480px){
    .header-left ul li {
        margin-right: 1.5em;
        margin-bottom: 1em;
        font-size: 14px;
    }
    .menu-icon {
        width: 2em;
        height: 2em;
    }
    .menu-icon > span {
        height: 0.15em;
    }
    .header-right nav ul li {
        margin: 0em 0.5em;
    }
    .header-right nav ul li i {
        font-size: 1em;
    }
    .header-right nav {
        left: 13%;
        top: -24%;
    }
    .logo h1 a {
        font-size: 1.2em;
    }
    .header {
        padding: 1em 0 4em;
    }
    .item .p-mask, .row .product .vm-product-media-container .p-mask {
        padding: 1em;
    }
    .banner-bottom-grid1-pos h3 {
        font-size: 1.5em;
    }
    .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
        padding: 1em;
    }
    .banner-bottom-grid-sub {
        width: 84%;
        margin: 5em auto 0;
    }
    .banner-bottom-grid-sub-pos h3 {
        line-height: 1.58em;
    }
    .banner-bottom-grid-left1 p {
        font-size: 1.4em;
    }
    .footer-top h3 span {
        font-size: 1.8em;
        display: block;
        margin: .2em 0 0;
    }
    .footer-top {
        padding: 2em 0 0;
        min-height: 285px;
    }
    .footer-top p {
        margin: 1em 0 2em;
    }
    .footer-top-image {
        bottom: -50%;
    }
    .footer-copy-grid {
        float: none;
        width: 100%;
    }
    .footer-copy-grid:nth-child(2) {
        margin: 2em 0;
    }
    .footer-copy-grid:nth-child(3) {
        margin:0em 0 2em;
    float: right;
    position: absolute;
    /* top: 0; */
    right: 27%;
    width: 10% !important;
    bottom: 13%;
    height: 200px;
    }
    .header1 {
        padding: 1em 0 2em !important;
    }
    .about, .team, .typo, .mail, .blog {
        padding: 2em 0;
    }
    .team-grid {
        width: 100%;
    }
    .blog-left,.blog-right {
        padding: 0;
    }
    .comments-list ul {
        padding: 0em 0 1em;
    }
    .comments-list p {
        margin: 1em 0 2em;
    }
    .comments-list:nth-child(2) {
        margin: 3em 0;
        padding: 2em 0 3em;
    }
    .admin {
        padding: 1em;
        margin: 1em 0 3em;
    }
    .recent-comments-grids {
        padding: 1em;
    }
    .leave-comment input[type="text"], .leave-comment input[type="email"], .leave-comment textarea {
        width: 100%;
    }
    .leave-comment input[type="email"] {
        margin: .5em 0 0;
    }
    .leave-comment {
        margin: 3em 0 0;
    }
    .mail-grid-left-pos {
        width: 50%;
    }
    .map-grid input[type="text"], .map-grid input[type="email"], .map-grid textarea {
        width: 100%;
    }
    .map-grid input[type="email"] {
        margin: 1em 0 0;
    }
    .map-grid input[type="submit"] {
        font-size: 14px;
        width: 100%;
    }
}
@media (max-width: 414px){
    .header-right nav {
        left: 8%;
    }
    .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
        font-size: 1.5em;
    }
    .banner-bottom-grid-left p {
        width: 96%;    font-size: 13px;
        margin: 0.5em 0 2em;
    }
    .banner-bottom-grid1-pos h3 {
        font-size: 1.2em;
    }
    .banner-bottom-grid-sub-pos h3 {
        font-size: 2.09em;
    }
    .banner-bottom-grid-left1 {
        padding: 2em 0;
    }
    .footer-top-image {
        bottom: -30%;
    }
    .footer-top h3 {
        font-size: 1.2em;
    }
    .footer-top {
        min-height: 230px;
    }
    .banner1 {
        background: url(../images/banner.jpg) no-repeat -100px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
        min-height: 310px;
    }
    .about-grid {
        padding: 0;
    }
    .about-grid:nth-child(2) {
        margin: 2em 0;
    }
    .team-grids {
        margin: 1.5em 0 0;
    }
    .subscribe, .instagram {
        margin: 2em 0;
    }
    .mail-grids {
        margin: 1.5em 0 3em;
    }
    .mail-grid,.map-grid {
        padding: 0;
    }
    .mail-grid-right1 h3 {
        margin-top: 0em;
    }
    .mail-grid-left-pos {
        width: 54%;
    }
    .mail-grid:nth-child(2) {
        margin: 1em 0;
    }
    .map-grid iframe {
        min-height: 200px;
    }
    .map-grid textarea {
        min-height: 150px;
    }
}
@media (max-width:384px){
    .header-right nav {
        left: 0;
        width: 100%;
    }
}
@media (max-width:375px){
    .banner-bottom-grid-sub-pos h3 {
        font-size: 1.8em;
    }
    .footer-top p {
        font-size: 13px;
    }
    .footer-copy-grid {
        padding: 0;
    }
    .about-grid-left1 h2 {
        font-size: 1.2em;
    }
    .about-grid-left1 {
        padding: 1em 1em 2em;
    }
    .mail-grid-left-pos {
        width: 61%;
    }
}
@media (max-width:320px){
    .header-left ul li {
        font-size: 12px;
        margin-bottom: .5em;
    }
    .header-right nav ul li a span {
        font-size: 14px;
    }
    .header-right nav ul li i {
        font-size: .8em;
    }
    .header-right nav {
        top: -22%;
    }
    .container.banner-drop.nav-open {
        margin-top: 5em;
    }
    .banner {
        background: url(../images/banner1.jpg) no-repeat -155px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -ms-background-size: cover;
    }
    .p-mask p,.about-grid-left1 ul li a,.map-grid input[type="text"], .map-grid input[type="email"], .map-grid textarea,.mail-grid-right1 h3, .mail-grid-right p,.leave-comment input[type="text"], .leave-comment input[type="email"], .leave-comment textarea,.admin-right p,.tags ul li a,.categories ul li a,.subscribe p,.subscribe input[type="email"],.popular-right p,.comments-list ul li,.comments-list p,.team-grid1-sub p, .about-grid ul li a,.banner-bottom-grid-left p,.about-grid p,.footer p,.footer-copy-grid ul li a,.footer-copy-grid p,.footer-copy-grid input[type="text"], .footer-copy-grid input[type="email"], .footer-copy-grid textarea {
        font-size: 13px;
    }
    .leave-comment textarea {
        min-height: 150px;
    }
    .categories ul li {
        margin-bottom: .5em;
    }
    .admin-left {
        width: 25%;
    }
    .admin-right {
        width: 69%;
    }
    .recent-comments-grid:nth-child(2) {
        margin: 1em 0;
    }
    .recent-comments-grid-right p {
        margin: 0.5em 0 0;
        font-size: 13px;
    }
    .recent-comments-grid-right h4 a,.leave-comment input[type="submit"],.mail-grid-right1 h3, .mail-grid-right p {
        font-size: 14px;
    }
    .mail-grid-left-pos {
        width: 74%;
    }
    .subscribe input[type="submit"] {
        font-size: 14px;
    }
    .popular-right h5 a,.popular-left h4 {
        font-size: 1.2em;
    }
    .header-right1 nav {
        top: -24% !important;
    }
    .popular h3, .subscribe h3, .categories h3, .instagram h2, .tags h3 {
        font-size: 1.3em;
    }
    .about-grid-left1 ul li, .about-grid ul li {
        margin-bottom: .5em;
    }
    .about-grid-left1 p {
        padding: 1em 0 0;
        margin: 1em 0 1em;
        font-size: 13px;
    }
    .about-grid p span {
        display: initial;
        margin: 0;
    }
    .footer {
        padding: 1em 0;
    }
    .footer-copy-grid input[type="submit"] {
        width: 100%;
    }
    .footer-copy {
        padding: 2em 0 1em;
    }
    .footer-copy-grid1 {
        padding: 0 .2em .4em;
    }
    .banner-bottom-grid-left h2, .footer-copy-grid h3, .comments-list h3, .about-grid h3, .team h3, h2.title, .mail h2, .map-grid h3, .recent-comments h3, .leave-comment h3 {
        font-size: 1.3em;
    }
    .banner-bottom-grid1 {
        padding: .5em;
    }
    .banner-bottom-grid1-pos, .banner-bottom-grid-sub-pos {
        padding: .5em;
    }
    .banner-bottom-grid1-pos h3 {
        font-size: 1em;
    }
    .banner-bottom-grid-sub-pos h3 {
        font-size: 1.6em;
    }
    .banner-bottom-grid-sub {
        margin: 3em auto 0;
    }
    .banner-bottom-grid-left1 p {
        font-size: 1.2em;
    }
    .footer-top h3 {
        font-size: 1em;
    }
    .footer-top {
        min-height: 265px;
    }
    .footer-top-image {
        bottom: -44%;
    }
}